/* 전체 */
div {
    display: block;

}

header.u-header {
    display: block;
}

a#a {
    text-decoration: none !important;
    /* background-color: ; */
}

ul {
    display: list-item;
    text-align: -webkit-match-parent;
}

/* 헤더 태그 */
.u-header--sticky-top {
    bottom: auto;
    top: 0;
}

.u-header--sticky-top, .u-header--sticky-bottom {
    position: fixed;
}

.u-header {
    left: 0;
    right: 0;
    width: 100%;
    font-size: 0.92857rem;
}

/* 탑바 */
/* 탑바 레이아웃 1 */
@media (min-width : 0) {
    .g-pb-0 {
        padding-bottom: 0px !important;
    }
}

@media (min-width : 576px) {
    .g-pt-10--sm {
        padding-top: 0.71429rem !important;
    }
}

.g-transition-0_3 {
    transition-duration: .3s;
}

.g-bg-white {
    background-color: #fff !important;
}

/* 탑바 레이아웃 3 */
@media (min-width : 576px) {
    .container {
        max-width: 540px;
    }
    /* .list-inline-header {
        margin-right: 5%;
    } */
    
}

@media (min-width : 768px) {
    .container {
        max-width: 720px;
    }
    /* .list-inline-header {
        margin-left: 5%;
    } */
    .header-menu>ul>li {
        margin-left: -33px;
    }
}

@media (min-width : 1000px) {
    .container {
        max-width: 960px;
    }
    /* .list-inline-header {
        margin-left: 10%;
    } */
    .header-menu>ul>li {
        margin-left: 27px;
    }
}

@media (min-width : 1200px) {
    .container {
        max-width: 1140px;
    }
    /* .list-inline-header {
        margin-left: 5%;
    } */

    .header-menu>ul>li {
        margin-right: 0px;
        margin-left: 72px;
    }
    
}

.container {
    width: 100%;
    margin-bottom: 21px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

/* 탑바 레이아웃 4 */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0;

}

.flex-md-row{
    flex-direction: row !important;
}

.justyfy-content-between {
    /* div 나란히 */
    justify-content: flex-end !important;
}

/* 탑바 레이아웃 5-2 */
/* 5-2 ul */
.header-menu>ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: px;
}

.header-menu ul {
    justify-content: space-evenly !important;
}

.header-logo {
    float: left;
}

.logo {
    margin-top:4px;
    
}

.header-menu {
    z-index: 150;
    border-left: solid 1px rgb(255, 254, 254);
    padding-left: 10px;
    margin-top: 20px;
    padding-top: 26px;
    width: 100%;
}

.header-menu>ul>li>a {
    color: #333;
    font-weight: 600;
    font-size: 25px;
    line-height: 2;
}

.header-menu>ul>li>a:hover, .drop-a:hover {
    color: #019267;
}

.header-menu>ul {
    padding-top:27px;
    margin-left: 330px;
}

.header-menu>ul>li {
    margin-right: 0px;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: 4px;
}

.g-mt-minus-10 {
    margin-top: -0.71429rem !important;
}

.list-inline-item {
    /* 리스트 나란히 */
    display: inline-block; 
    vertical-align: top;
    margin-left: 10px;
}

.list-inline-header {
    /* 리스트 나란히 */
    display: inline-block; 
    vertical-align: top;
}

/* 5-2 a */
.g-color-topbar {
    color:#828282;
}

.g-color-topbar:hover {
    color: #019267;
}


/* 드롭다운 */
.list-inline-header>a:hover {
    text-decoration: none;
    color: #019267;
}

.g-pb-2 {
    padding-bottom: 0.14286rem !important;
} 

.list-drop, .showmenu{
    list-style: none;
    position: absolute;
    z-index: 150;
    border-left: solid 1px #ddd;
    padding-left: 5px;
    margin-top: 0px;
    padding-top: 0px;
    width: 146px;
}

.hide-list {
    padding-bottom: 1.14286rem !important;
    padding-top: 1.14rem;
}

.header-menu {
    z-index: 150;
    border-left: solid 1px rgb(255, 254, 254);
    padding-left: 10px;
    margin-top: 20px;
    padding-top: 0px;
}

.list-inline-header>ul{
    border-left-color : #d6d5d5;
}

.lnb-bg {
    z-index: 0;
    color: #fff;
    text-indent: -9999px;
    position: absolute;
    top: 130px;
    left: 0px;
    width: 1629px;
    height: 141px;
    background-color: #fff;
    border-bottom: 0.1px solid #019267;
}

.lnb-bg::after{
    position: absolute;
    right: -484px;
    width: 484px;
    height: 141px;
    background-color:#fff;
    border-bottom: 0.1px solid #019267;
    content: '';
}
.lnb-bg::before {
    position: absolute;
    left: 0px;
    width: 498px;
    height: 141px;
    background-color: #fff;
    border-bottom: 0.1px solid #019267;
    content: '';
}

*, ::after, ::before {
    box-sizing: border-box;
}

.drop-a {
    color: #333;
    font-size: 1.1rem;
}